<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close"
          p:driverClass="com.mysql.jdbc.Driver"
          p:jdbcUrl="jdbc:mysql://localhost:3307/inpatientWardAppDatabase"
          p:password=""
          p:user="root"/>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
        <property name="dataSource" ref="dataSource"></property>
    </bean>


    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>



    <!--后台拂去器中action的配置-->
    <!--后台登录配置-->
    <bean class="dao.impl.ServerAdminUserDaoImpl" id="serverAdminUserDao">
        <property name="hibernateTemplate" ref="hibernateTemplate"></property>
    </bean>
    <bean class="service.impl.ServerAdminUserServiceImpl"  id="serverAdminUserService">
        <property name="serverAdminUserDao" ref="serverAdminUserDao"></property>
    </bean>
    <bean class="action.ServerLoginAction" id="serverLoginAction" scope="prototype">
        <property name="serverAdminUserService" ref="serverAdminUserService"></property>
    </bean>

    <!--病人信息服务-->
    <bean class="action.ServerPatientAction" id="serverPatientAction" scope="prototype">
        <property name="patientService" ref="patientService"></property>
        <property name="userService" ref="userService"></property>
        <property name="userPatientService" ref="userPatientService"></property>
        <property name="hospitalizationService" ref="hospitalizationService"></property>
    </bean>




    <!--手机APP中的前台配置-->

    <!--登录和用户模块-->
    <bean id="userDao" class="dao.impl.UserDaoImpl">
        <property name="hibernateTemplate" ref="hibernateTemplate"></property>
    </bean>

    <bean id="userService" class="service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"></property>
        <property name="userPatientDao" ref="userPatientDao"></property>
    </bean>

    <bean id="loginAction" class="action.LoginAction" scope="prototype">
        <property name="userService" ref="userService"></property>
    </bean>
    <bean id="userAction" class="action.UserAction" scope="prototype">
        <property name="userService" ref="userService"></property>
    </bean>






    <!--病人相关模块-->
    <bean id="patientDao" class="dao.impl.PatientDaoImpl">
        <property name="hibernateTemplate" ref="hibernateTemplate"></property>
    </bean>
    <bean id="userPatientDao" class="dao.impl.UserPatientDaoImpl">
        <property name="hibernateTemplate"  ref="hibernateTemplate"></property>
    </bean>

    <bean id="patientService" class="service.impl.PatientServiceImpl">
        <property name="patientDao" ref="patientDao"></property>
        <property name="userPatientDao" ref="userPatientDao"></property>
    </bean>
    <bean id="userPatientService" class="service.impl.UserPatientServiceImpl">
        <property name="userPatientDao" ref="userPatientDao"></property>
    </bean>


    <bean id="hospitalizationDao" class="dao.impl.HospitalizationDaoImpl">
        <property name="hibernateTemplate" ref="hibernateTemplate"></property>
    </bean>
    <bean id="hospitalizationService" class="service.impl.HospitalizationServiceImpl">
        <property name="hospitalizationDao" ref="hospitalizationDao"></property>
    </bean>

    <bean id="peopleAction" class="action.PeopleAction" scope="prototype">
        <property name="patientService" ref="patientService"></property>
        <property name="hospitalizationService" ref="hospitalizationService"></property>
    </bean>






    <!--消息模块-->
    <bean id="informationDao" class="dao.impl.InformationDaoImpl">
        <property name="hibernateTemplate" ref="hibernateTemplate"></property>
    </bean>
    <bean id="informationUserDao" class="dao.impl.InformationUserDaoImpl">
        <property name="hibernateTemplate" ref="hibernateTemplate"></property>
    </bean>
    <bean  id="informationService"   class="service.impl.InformationServiceImpl">
        <property name="informationDao" ref="informationDao"></property>
        <property name="informationUserDao" ref="informationUserDao"></property>
    </bean>
    <bean id="informationAction" class="action.InformationAction" scope="prototype">
        <property name="informationService" ref="informationService"></property>
        <property name="userPatientService" ref="userPatientService"></property>
    </bean>






    <!--病人生理数值模块-->
    <bean  id="bloodPressureDao" class="dao.impl.BloodPressureDaoImpl">
        <property name="hibernateTemplate" ref="hibernateTemplate"></property>
    </bean>
    <bean id="temperatureDao" class="dao.impl.TemperatureDaoImpl">
        <property name="hibernateTemplate" ref="hibernateTemplate"></property>
    </bean>
    <bean class="dao.impl.HeartRateDaoImpl" id="heartRateDao">
        <property name="hibernateTemplate" ref="hibernateTemplate"></property>
    </bean>
    <bean class="dao.impl.BloodGlucoseDaoImpl" id="bloodGlucoseDao">
        <property name="hibernateTemplate" ref="hibernateTemplate"></property>
    </bean>
    <bean class="dao.impl.BloodOxygenSaturationDaoImpl" id="bloodOxygenSaturationDao">
        <property name="hibernateTemplate" ref="hibernateTemplate"></property>
    </bean>

    <bean id="bloodPressureService" class="service.impl.BloodPressureServiceImpl">
        <property name="bloodPressureDao" ref="bloodPressureDao"></property>
    </bean>
    <bean class="service.impl.TemperatureServiceImpl" id="temperatureService">
        <property name="temperatureDao" ref="temperatureDao"></property>
    </bean>
    <bean class="service.impl.HeartRateServiceImpl" id="heartRateService">
        <property name="heartRateDao" ref="heartRateDao"></property>
    </bean>
    <bean class="service.impl.BloodGlucoseServiceImpl" id="bloodGlucoseService">
        <property name="bloodGlucoseDao" ref="bloodGlucoseDao"></property>
    </bean>
    <bean class="service.impl.BloodOxygenSaturationServiceImpl" id="bloodOxygenSaturationService">
        <property name="bloodOxygenSaturationDao" ref="bloodOxygenSaturationDao"></property>
    </bean>

    <bean  id="physiologyAction" class="action.PhysiologyAction" >
        <property name="bloodPressureService" ref="bloodPressureService"></property>
        <property name="temperatureService" ref="temperatureService"></property>
        <property name="heartRateService" ref="heartRateService"></property>
        <property name="bloodGlucoseService" ref="bloodGlucoseService"></property>
        <property name="bloodOxygenSaturationService" ref="bloodOxygenSaturationService"></property>
    </bean>










    <bean id="txManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <tx:advice id="txAdviceHibernate" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="delete*" propagation="REQUIRED" />
            <tx:method name="update*" propagation="REQUIRED" />
            <tx:method name="save*" propagation="REQUIRED" />
            <tx:method name="*" read-only="false" />
        </tx:attributes>
    </tx:advice>
    <aop:config>
        <aop:advisor advice-ref="txAdviceHibernate" pointcut="execution(* service..*.*(..))"/>
    </aop:config>

</beans>