body{
    background: url("../../images/login_1.jpg");
    animation-name:myfirst;
    animation-duration:12s;
    /*变换时间*/
    animation-delay:2s;
    /*动画开始时间*/
    animation-iteration-count:infinite;
    /*下一周期循环播放*/
    animation-play-state:running;
    /*动画开始运行*/
}
@keyframes myfirst
{
    0%   {background:url("../../images/login_1.jpg");}
    34%  {background:url("../../images/login_2.jpg");}
    67%  {background:url("../../images/login_3.jpg");}
    100% {background:url("../../images/login_4.jpg");}
}

.container{
    height: 100%;
}
.form-signin {
    max-width: 300px;
    margin: 18% auto 0;
}

.form-header {
    margin-bottom: 20px;
}